.post_container {
    width: 70%;
    margin: auto;
}

.post_container div h1 {
    color: lightgray;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

h1.title {
    text-align: left;
    display: inline-block;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 800;
}

iframe {
    width: 100%;
}

@media (min-width:750px) {
    .post_container {
        padding-top: 10%;
    }
}

@media (max-width: 750px) {
    .post_container {
        padding: 0;
        /* padding-top: 150px; */
        width: 90%;
    }
}
@media (max-width: 500px) {
    .post_container {
        width: 100%;
    }
    .post_container h1 {
        margin-left: 0;
    }
}
