.post_container {
    /* padding-top: 150px; */
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    background: white;
}

.post_container h1 {
    color: gray;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

h1.title {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 800;
}

iframe {
    width: 100%;
}

@media (max-width: 750px) {
    .post_container {
        padding: 0;
        /* padding-top: 150px; */
        width: 90%;
    }
}
@media (max-width: 500px) {
    .post_container {
        padding: 0;
        width: 90%;
    }
    .post_container h1 {
        margin-left: 0;
    }
}
