.projectsList {
    margin-top: 20%;
    list-style: none;
    padding: 0;
}

.projectsList li {
    display: block;
    width: 60%;
    margin-right: 40%;
    margin-bottom: 15%;
}

.projectsList li:nth-child(odd) {
    margin-right: 0;
    margin-left: 40%;
}

h3 {
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
}

.projectsList li:hover h3 {
    color:pink;
}

.catTitle {
    text-align: left;
}

.projectsList li:nth-child(odd) h3 {
    text-align:right;
}

@media (min-width:750px) {
    .projectsList li:nth-child(odd) {
        margin: 0;
        margin-right:10px;
        margin-bottom: 30px;
    }
    .projectsList li:nth-child(odd) h3 {
        text-align:left;
    }
    .projectsList li {
        margin: 0;
        width:auto;
        margin-right:10px;
        margin-bottom: 60px;
    }
    .projectsList {
        display: grid;
        grid-template-columns: repeat(3,calc(100%/3));
    }
}
@media (min-width:1000px) {
    .projectsList {
        width:80%;
        margin:auto;
        margin-top:100px;
    }
    .catTitle {
        text-align:center;
    }
}