.back_container {
    height: 0;
    display: none;
}

.back_sign {
    background-image: url("../images/hotel_sign.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20%;
    height: 0;
    padding-bottom: 12%;
    margin-left: 4.5%;
    position: relative;
    top: 100px;
}

.back_btn {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 26.5%;
    position: relative;
    top: 88px;
}

.post_container {
    padding: 0 5% 5% 5%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10%;

    z-index: 10;
    background: white;
}

.post_title {
    /* background-image: url('../images/tile_paper.jpg');
    background-repeat: repeat;
    background-size: 100%; */

    color: black;
    
    /* font-family: 'PT Serif', serif; */
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;

    padding: 2%;
    padding-bottom: 2.5%;
    /* box-shadow: 0 1px 4px rgba(0,0,0,0.5); */

    margin: 0;
    margin: auto;
    margin-top: 80px;
    width: 50%;
    text-align: center;
}

.featuredImage {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.innerHTML {
    color: black;
}

.innerHTML h2 p {
    display: none;
}

figcaption {
    color: white;
    font-size: 0.8em;
    
}


@media (max-width: 750px) {
    .post_title {
        margin-top: 50px;
        width: 80%;
        padding-bottom: 4%;

        font-size: 2em;
        
    }
}

