.aboutbody {
    width: 40%;
    margin: auto;
    background: white;
    padding: 50px;
    z-index: 10;
    margin-bottom: 40px;
}

.aboutbody h1 {
    color: black;
    margin-bottom: 50px;
}

.aboutbody p {
    margin-bottom: 20px;
}

.aboutbody a {
    /* float: right; */
}

@media (max-width: 750px) {
    .aboutbody {
        margin: auto;
        margin-bottom: 40px;
        width: 80%;
    }

    
}

@media (max-width: 550px) {
    .aboutbody {
        padding: 20px;
        padding-top: 50px;
        width: calc(100% - 40px);
    }

    
}

/* .portfolioaboutbody {
    width: 40%;
    margin: auto;
    background: white;
    padding: 50px;
}

.portfolioaboutbody h1 {
    color: black;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: inline-block;
    width: 49%;
}

.portfolioaboutbody p {
    margin-bottom: 20px;
} */