.container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;

    display: grid;
    grid-template-columns:  auto;
    grid-template-rows:  auto 50px auto;
}


/*----------------------------ROOMS-----------------------------------*/

.room_container {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows:  100%;
}

.room_container:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.room_container:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.room_container:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.room_container:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.room_container:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

.room {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    height: 400px;

    display: grid;
    grid-template-columns:  30px auto 30px;
    grid-template-rows: auto;
}

.back_wall {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    box-shadow: inset 0 0 10px #000000;

    background-size: 400px;
}

.left_wall {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-size: 400px;
}

.right_wall {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-size: 400px;
    background-position-x: right;
}

.room_contents {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.room_contents_left {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.room_contents_right {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-position-x: right;
}

.friend {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*----------------------------ROOM IMAGES-----------------------------------*/

.room_container:nth-child(1) .back_wall {
    background-image: url('../images/bannister.png');
}

.room_container:nth-child(2) .room {
    height: 100%;
}

.room_container:nth-child(2) .back_wall {
    background-image: url('../images/bedroomBack.png');
}

.room_container:nth-child(2) .left_wall {
    background-image: url("../images/bedroomLeft.png");
}

.room_container:nth-child(2) .right_wall {
    background-image: url("../images/bedroomRight.png");
}

.room_container:nth-child(2) .room_contents {
    background-image: url("../images/bedroomMiddle.png");
    background-position-x: center;
    background-position-y: center;
}

.room_container:nth-child(2) .friend {
    background-image: url("../images/adam1.png");
    background-position-x: center;
    background-position-y: center;
}

.room_container:nth-child(3) .back_wall {
    background-image: url('../images/bathroomBack.png');
}

.room_container:nth-child(3) .left_wall {
    background-image: url("../images/bathroomLeft.png");
}

.room_container:nth-child(3) .right_wall {
    background-image: url("../images/bathroomRight1.png");
}

/* .room_container:nth-child(4) .room {
    background-image: url('../images/banisterBack.png');
    background-position-x: 40%;
}

.room_container:nth-child(5) .room {
    background-image: url('../images/diningroomBack.png');
}

.room_container:nth-child(5) .left_wall {
    background-image: url("../images/diningroomLeft.png");
}

.room_container:nth-child(5) .right_wall {
    background-image: url("../images/diningroomRight.png");
}

.room_container:nth-child(5) .room_contents {
    background-image: url("../images/diningroomContentsMiddle.png");
    background-position-x: center;
}

.room_container:nth-child(5) .room_contents_left {
    background-image: url("../images/diningroomContentsLeft.png");
}

.room_container:nth-child(5) .room_contents_right {
    background-image: url("../images/diningroomContentsRight.png");
}

.room_container:nth-child(6) .room {
    background-image: url('../images/kitchenBack.png');
}

.room_container:nth-child(6) .left_wall {
    background-image: url("../images/kitchenLeft.png");
}

.room_container:nth-child(6) .right_wall {
    background-image: url("../images/kitchenRight.png");
}

.room_container:nth-child(6) .friend {
    background-image: url("../images/olivia1.png");
} */

.room_container:last-child .back_wall {
    background-image: url('../images/kitchenBack.png');
}

.room_container:last-child .left_wall {
    background-image: url("../images/kitchenLeft.png");
}

.room_container:last-child .right_wall {
    background-image: url("../images/kitchenRight.png");
}

.room_container:last-child .friend {
    background-image: url("../images/olivia1.png");
}

/*----------------------------BASEMENT-----------------------------------*/
.basement_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    list-style: none;
    z-index: 10;
}

.basement {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px auto;  
}

.basement_ceiling {
    background-image: url('../images/basement_ceiling.png');
    background-repeat: no-repeat;
    background-size: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 998;
}

.basement_friend {
    background-image: url('../images/liv1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 998;
}

.basement_back_wall {
    background-image: url('../images/basement_bottom.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* .basement_link_container {
    opacity: 0;
    z-index: 999;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 95px auto;
}

.basement_link_container:hover {
    opacity: 1;
} */

/*----------------------------RESIZE ICON-----------------------------------*/

.resize_icon {
    height: 122px;
    width: 122px;

    background: transparent;
    background-image: url("../images/resize_icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 1000;
}

/*----------------------------MEDIA QUERIES-----------------------------------*/

@media (max-width: 880px) {
    .container {
        grid-template-rows:  auto 50px auto;
    }

    .basement_container {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .resize_icon {
        display: none;
    }
}

@media (max-width: 850px) {
    .basement_friend {
        background-image: url("../images/liv2.png");
    }
    .room_container:nth-child(2) .friend {
        background-image: url("../images/adam2.png");
    }
}

@media (max-width: 800px) {
    
    .room_container:nth-child(3) .right_wall {
        background-image: url("../images/bathroomRight2.png");
    }
    /* .room_container:nth-child(6) .friend {
        background-image: url("../images/olivia2.png");
        width: 80%;
        background-position: 24%;
        position: relative;
        left: 5%;
    } */
    .room_container:nth-child(4) .friend {
        background-image: url("../images/olivia2.png");
        width: 80%;
        background-position: 24%;
        position: relative;
        left: 5%;
    }
}

@media (max-width: 750px) {
    .room_link_container {
        grid-template-rows: 5em;
    }
    .room_link {
        font-size: 2.5em;
    }
    .basement_link_container {
        grid-template-rows: 5em;
    }
    .basement_link {
        font-size: 2.5em;
    }

    .basement_friend {
        background-image: url("../images/liv3.png");
    }
}

@media (max-width: 600px) {
    .room_container:nth-child(2) .friend {
        background-image: url("../images/adam3.png");
    }
    .room_container:nth-child(3) .right_wall {
        background-image: url("../images/bathroomRight3.png");
    }
    /* .room_container:nth-child(6) .friend {
        background-image: url("../images/olivia3.png");
    } */
    .room_container:nth-child(4) .friend {
        background-image: url("../images/olivia3.png");
    }
}

@media (max-width: 650px) {
    .room_link_container {
        grid-template-rows: 2em;
    }
    .room_link {
        font-size: 1em;
        padding: 5px;
    }
    .basement_link_container {
        grid-template-rows: 2em;
    }
    .basement_link {
        font-size: 1em;
        padding: 5px;
    }
}

@media (max-width: 500px) {
    .room_container:nth-child(6) .friend {
        background-position-x: -125px;
    }
}

/* @media (max-width: 440px) {
    .basement {
        width: 90%;
    }
    .basement_ceiling {
        width: 90%;
    }
    .basement_friend {
        width: 90%;
    }

    .basement_link_container {
        width: 90%;
    }
} */

