.container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;

    display: grid;
    grid-template-columns:  auto;
    grid-template-rows:  auto 50px auto;
}

/*----------------------------ROOMS-----------------------------------*/

.room_container {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows:  100%;
}

.room_container:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.room_container:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.room_container:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.room_container a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns:  30px auto 30px;
    grid-template-rows: auto;
}

.room {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    box-shadow: inset 0 0 10px #000000;
}

.left_wall {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.right_wall {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-position-x: right;
}

.room_contents {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.friend {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.left_brick_hole {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url("../images/brick_hole.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.right_brick_hole {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url("../images/brick_hole_right.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.room_link_container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6em auto;

    opacity: 0;
}

.room_link_container:hover {
    opacity: 1;
}

.room_link_background {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background: rgba(0,0,0,0.5);
}

.room_link {
    color: white;
    font-size: 3em;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

/*----------------------------ROOM IMAGES-----------------------------------*/

.room_container:nth-child(1) .room {
    background-image: url('../images/bannister.png');
}

.room_container:nth-child(2) .room {
    background-image: url('../images/bedroomBack.png');
}

.room_container:nth-child(2) .left_wall {
    background-image: url("../images/bedroomLeft.png");
}

.room_container:nth-child(2) .right_wall {
    background-image: url("../images/bedroomRight.png");
}

.room_container:nth-child(2) .room_contents {
    background-image: url("../images/bedroomMiddle.png");
    background-position-x: center;
    background-position-y: center;
}

.room_container:nth-child(2) .friend {
    background-image: url("../images/adam1.png");
    background-position-x: center;
    background-position-y: center;
}

.room_container:nth-child(3) .room {
    background-image: url('../images/bathroomBack.png');
}

.room_container:nth-child(3) .left_wall {
    background-image: url("../images/bathroomLeft.png");
}

.room_container:nth-child(3) .right_wall {
    background-image: url("../images/bathroomRight1.png");
}

.room_container:nth-child(4) .room {
    background-image: url('../images/kitchenBack.png');
}

.room_container:nth-child(4) .left_wall {
    background-image: url("../images/kitchenLeft.png");
}

.room_container:nth-child(4) .right_wall {
    background-image: url("../images/kitchenRight.png");
}

.room_container:nth-child(4) .friend {
    background-image: url("../images/olivia1.png");
}

/*----------------------------BASEMENT-----------------------------------*/

.basement_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    background-image: url('../images/concrete.png');
    background-size: 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 12px 400px 24px;

}

.basement_container a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px auto;
}

.basement_ceiling {
    background-image: url('../images/basement_ceiling.png');
    background-repeat: no-repeat;
    background-size: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 998;
}

.basement_friend {
    background-image: url('../images/liv1.png');
    background-repeat: no-repeat;
    background-size: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 998;
}

.basement {
    background-image: url('../images/basement_bottom.png');
    background-repeat: no-repeat;
    background-size: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.basement_link_container {
    opacity: 0;
    z-index: 999;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 95px auto;
}

.basement_link_container:hover {
    opacity: 1;
}

/*----------------------------RESIZE ICON-----------------------------------*/

.resize_icon {
    height: 122px;
    width: 122px;

    background: transparent;
    background-image: url("../images/resize_icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 4;
}

/*----------------------------MEDIA QUERIES-----------------------------------*/

@media (max-width: 880px) {
    .container {
        grid-template-rows:  auto 50px auto;
    }

    .basement_container {
        grid-column-start: 1;
        grid-column-end: 2;

        display: block;
        height: 0;
        width: 100%;
        padding-bottom: 49%;

        background-size: 880px;
        background-position-x: center;
    }

    .basement_container a {
        height: 0;


    }

    .basement {
        width: 400px;
        padding-bottom: 45%;
        margin: auto;
        margin-top: 12px;

        background-position-y: bottom;
    }

    .basement_ceiling {
        display: block;
        height: 0;
        position: relative;
        width: 400px;
        padding-bottom: 45%;
        margin: auto;
        margin-top: 12px;
    }

    .basement_friend {
        display: block;
        height: 0;
        position: relative;
        width: 400px;
        padding-bottom: 45%;
        margin: auto;
        margin-top: 12px;

        background-position-y: bottom;
    }

    .basement_link_container {
        width: 400px;
        margin: auto;
        margin-top: 12px;
    }

    .room_link_container {
        opacity: 1;
    }
    .basement_link_container {
        opacity: 1;
    }

    .resize_icon {
        display: none;
    }
}

@media (max-width: 850px) {
    .basement_friend {
        background-image: url("../images/liv2.png");
    }
    .room_container:nth-child(2) .friend {
        background-image: url("../images/adam2.png");
    }
}

@media (max-width: 800px) {
    
    .room_container:nth-child(3) .right_wall {
        background-image: url("../images/bathroomRight2.png");
    }
    .room_container:nth-child(4) .friend {
        background-image: url("../images/olivia2.png");
        width: 80%;
        background-position: 24%;
        position: relative;
        left: 5%;
    }
}

@media (max-width: 750px) {
    .room_link_container {
        grid-template-rows: 5em;
    }
    .room_link {
        font-size: 2.5em;
    }
    .basement_link_container {
        grid-template-rows: 5em;
    }
    .basement_link {
        font-size: 2.5em;
    }

    .basement_friend {
        background-image: url("../images/liv3.png");
    }
}

@media (max-width: 600px) {
    .room_container:nth-child(2) .friend {
        background-image: url("../images/adam3.png");
    }
    .room_container:nth-child(3) .right_wall {
        background-image: url("../images/bathroomRight3.png");
    }
    .room_container:nth-child(4) .friend {
        background-image: url("../images/olivia3.png");
    }
}

@media (max-width: 650px) {
    .room_link_container {
        grid-template-rows: 4em;
    }
    .room_link {
        font-size: 2em;
    }
    .basement_link_container {
        grid-template-rows: 4em;
    }
    .basement_link {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .room_container:nth-child(4) .friend {
        background-position-x: -125px;
    }
}

@media (max-width: 440px) {
    .basement {
        width: 90%;
    }
    .basement_ceiling {
        width: 90%;
    }
    .basement_friend {
        width: 90%;
    }

    .basement_link_container {
        width: 90%;
    }
}

