.cvtable {
    font-family: 'PT Serif', serif;

    width: 50%;
    margin: auto;
    background: white;
    padding: 40px;
    vertical-align: top;

    margin-bottom: 50px;
}

.cvtable h1 {
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 10px;
}

.cvtable h2 {
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
}

.cvtable table {
    margin-bottom: 30px;
    vertical-align: top;
}

.cvtable td {
    padding: 2px;
    vertical-align: top;
}

.cvtable td:nth-child(1) {
    width: 10%;
    min-width: 65px;
}

@media (max-width: 1250px) {
    .cvtable {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .cvtable {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .cvtable {
        padding: 0;

    }

    .cvtable h1 {
        margin-left: 0;
    }
}