.btn {
    z-index: 9999999;
    display: none;
}

.btn_open {
    background-image: url("../images/hamburger_x_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;

    float: right;
}

.btn_closed {
    background-image: url("../images/hamburger_ham_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;

    float: right;
}  

@media (max-width: 1000px) {
    .btn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .btn {
        margin-left: 5%;
    }
}