.larger_header {
    background: white;
    color: black;

    position: fixed;
    top: 0;
    z-index: 9999;

    transition: all 0.3s ease;

    padding-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 34% 33%;
}

.smaller_header {
    background: white;
    color: black;

    position: fixed;
    top: 0;
    z-index: 9999;
    
    transition: all 0.3s ease;

    padding-top: 20px;
    padding-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 34% 33%;
}

/*-------------------------TITLE--------------------------*/
.title_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;

    display: inline-block;

    position: relative;
    top: -10px;

    transition: all 0.3s ease;
}

.smaller_title_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    text-decoration: none;
    color: black;
    font-size: 0.75em;
    text-align: center;

    display: inline-block;

    position: relative;
    top: -10px;

    transition: all 0.3s ease;
}

.site_title_text {
    color: black;
    margin-bottom: 0;
    font-weight: 400;
}

/*-------------------------NAV BAR--------------------------*/
.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    transition: all 0.3s ease;
}

.smaller_navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    transition: all 0.3s ease;
}

.navbar li {
    display: inline-block;
    margin-right: 15%;
}

.smaller_navbar li {
    display: inline-block;
    margin-right: 15%;
}

.navbar li a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
}

.smaller_navbar li a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
}

.navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.smaller_navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.navdropdown button {
    background: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.7em;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.smaller_navdropdown button {
    background: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.25em;
    font-weight: 400;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}

.navdropdown button:focus {
    outline: 0;
}

.smaller_navdropdown button:focus {
    outline: 0;
}

.navdropdown div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: white;
    transition: all 0.3s ease;
}

.smaller_navdropdown div {
    padding-bottom: 10px;
    padding-right: 15px;
    background: white;
    transition: all 0.3s ease;
}

.navdropdown_item {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    transition: all 0.3s ease;
}

.smaller_navdropdown_item {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    transition: all 0.3s ease;
}

/*-------------------------SOCIAL BAR--------------------------*/
.socialbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 60%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40%;

    text-align: right;

    position: absolute;
    /* top: 25%; */

    cursor: pointer;

    transition: all 0.3s ease;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.smaller_socialbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 40%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 60%;

    text-align: right;

    position: absolute;
    /* top: 20%; */

    cursor: pointer;

    transition: all 0.3s ease;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.socialbar_link {
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-block;
    text-align: center;

    z-index: 99999;
    cursor: pointer;
}

.smaller_socialbar_link {
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-block;
    text-align: center;

    z-index: 99999;
    cursor: pointer;
}

.youtube {
    background-image: url("../images/youtube_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_youtube {
    background-image: url("../images/youtube_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.vimeo {
    background-image: url("../images/vimeo_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_vimeo {
    background-image: url("../images/vimeo_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.instagram {
    background-image: url("../images/instagram_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_instagram {
    background-image: url("../images/instagram_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

/*-------------------------HUD--------------------------*/
.ham_btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    display: none;
}

.ham_menu_container {
    padding-top: 4em;
    position: fixed;
    z-index: 9999;
    top: 0;
    display: none;
}

.smaller_ham_menu_container {
    padding-top: 2.5em;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: all 0.3s ease;
    display: none;
}

.ham_instagram {
    display: none;
}
.ham_vimeo {
    display: none;
}
.ham_youtube {
    display: none;
}

@media (max-width: 1300px) {
    .navbar {
        display: none;
    }
    .smaller_navbar {
        display: none;
    }
    .smaller_socialbar_link {
        width: 2em;
    }

    .ham_btn {
        display: inline-block;
    }
    .ham_menu_container {
        display: inline-block;
    }
    .smaller_ham_menu_container {
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    .socialbar {
        grid-template-columns: 50% 50%;
    }
    .smaller_socialbar {
        grid-template-columns: 50% 50%;
    }
    .socialbar a:nth-child(2) {
        display: none;
    }
    .smaller_socialbar a:nth-child(2) {
        display: none;
    }
    .ham_youtube {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/youtube_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (max-width: 600px) {
    .larger_header {
        grid-template-columns: 15% auto;
        padding-top: 20px;
    }
    .smaller_header {
        grid-template-columns: 15% auto;
        padding-top: 10px;
    }
    .title_container {
        top: -5px;
        width: 100%;
        margin: 0;
    }
    .smaller_title_container {
        top: 0;
        width: 100%;
        margin: 0;
    }
    .site_title_text {
        text-align: right;
    }
    .socialbar {
        display: none;
    }
    .smaller_socialbar {
        display: none;
    }
    .ham_menu_container {
        padding-top: 3em;
    }
    .ham_instagram {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/instagram_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        margin-top: 7.5%;
    }
    .ham_vimeo {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/vimeo_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;

        margin-top: 2%;
    }
}

