.btn {
    z-index: 9999999;
    display: none;
}

.btn_open {
    background-image: url("../images/hamburger_x_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
}

.btn_closed {
    background-image: url("../images/hamburger_ham_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
}  

@media (max-width: 1300px) {
    .btn {
        display: block;
    }
}

@media (max-width: 500px) {
    .btn {
        margin-left: 5%;
    }
}