.header {
    background: white;
    color: black;

    position: fixed;
    top: 0;
    z-index: 9999;

    transition: all 0.3s ease;

    padding: 20px 30px;
    width: calc(100% - 60px);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 34% 33%;
}

.smaller_header {
    padding: 10px 20px;
    width: calc(100% - 40px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/*-------------------------TITLE--------------------------*/
.title_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;

    display: inline-flex;
    justify-content: center;
    align-items:center;

    transition: all 0.3s ease;
}

.smaller_title_container {
    font-size: 0.75em;
}

.site_title_text {
    color: black;
    margin-bottom: 0;
    font-weight: 400;
}

.site_title_text:hover {
    color:rgb(63,93,170);
}

/*-------------------------NAV BAR--------------------------*/
.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items:center;

    transition: all 0.3s ease;
}

.smaller_navbar {
}

.navbar li {
    display: inline-block;
    margin-right: 15%;
}

.navbar li a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 0;
}

.smaller_navbar li a {
    font-size: 1.25em;
}

.navbar li a:hover {
    color: pink;
}

.navemail {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
   justify-content: flex-end;
}

.navemail:hover {
    color: pink;
}

.smaller_navemail {
    font-size: 1.25em;
}

.navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.smaller_navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.navdropdown button {
    background: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.7em;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.navdropdown button:hover {
    color:pink;
    transition: color 0s;
}

.navdropdown button:focus {
    outline: 0;
}

.navdropdown div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:10px;
    background: white;
    /* transition: all 0.3s ease; */
}

.navdropdown_item {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    transition: all 0.3s ease;
    transition: color 0.3s ease;
}

.navdropdown_item:hover {
    color:pink;
    transition: color 0s;
}

.smaller_navdropdown button {
    background: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.25em;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor:pointer;
    padding-bottom:12px;
    padding-top: 5px; /*to center it with lowercase joshuakery*/
}

.smaller_navdropdown button:hover {
    color:pink;
    transition: color 0s;
}

.smaller_navdropdown button:focus {
    outline: 0;
}

.smaller_navdropdown div {

}

.smaller_navdropdown div:nth-child(2n) {
    box-shadow: 0 3px 2px rgba(0,0,0,0.2);
}

.smaller_navdropdown_item {
    text-decoration: none;
    color: black;
    background:white;
    padding: 2px 15px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
}

.smaller_navdropdown_item:hover {
    color:pink;
}

.smaller_navdropdown div:nth-child(2n) a:last-child a {
    padding-bottom: 10px;
}


/*-------------------------SOCIAL BAR--------------------------*/
/* .socialbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 60%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40%;

    text-align: right;

    position: absolute;

    cursor: pointer;

    transition: all 0.3s ease;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.smaller_socialbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 40%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 60%;

    text-align: right;

    position: absolute;

    cursor: pointer;

    transition: all 0.3s ease;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
} */

/* .socialbar_link {
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-block;
    text-align: center;

    z-index: 99999;
    cursor: pointer;
}

.smaller_socialbar_link {
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-block;
    text-align: center;

    z-index: 99999;
    cursor: pointer;
}

.youtube {
    background-image: url("../images/youtube_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_youtube {
    background-image: url("../images/youtube_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.vimeo {
    background-image: url("../images/vimeo_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_vimeo {
    background-image: url("../images/vimeo_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
} */

/* .instagram {
    background-image: url("../images/instagram_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_instagram {
    background-image: url("../images/instagram_btn_black.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
} */

/*-------------------------HUD--------------------------*/
.ham_btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    display: none;
}

.ham_menu_container {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    height:0;
    text-align: right;
}

.smaller_ham_menu_container {
    transition: all 0.3s ease;
}

/* .ham_instagram {
    display: none;
}
.ham_vimeo {
    display: none;
}
.ham_youtube {
    display: none;
} */

.linebreak {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    /* .smaller_socialbar_link {
        width: 2em;
    } */
    .ham_btn {
        display: inline-block;
    }
    .ham_menu_container {
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    /* .socialbar {
        grid-template-columns: 50% 50%;
    }
    .smaller_socialbar {
        grid-template-columns: 50% 50%;
    }
    .socialbar a:nth-child(2) {
        display: none;
    }
    .smaller_socialbar a:nth-child(2) {
        display: none;
    } */
    /* .ham_youtube {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/youtube_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        margin-top: 5%;
        margin-bottom: 5%;
    } */
}

@media (max-width: 1000px) {
    .header {
        grid-template-columns: auto 15%;
        padding: 10px 20px;
        width: calc(100% - 40px);
    }
    .title_container {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: flex-start;
    }
    .site_title_text {
        text-align: left;
    }
    .navbar {
        display: none;
    }
    .navemail {
        display: none;
    }
    /* .socialbar {
        display: none;
    }
    .smaller_socialbar {
        display: none;
    } */
    /* .ham_instagram {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/instagram_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        margin-top: 7.5%;
    }
    .ham_vimeo {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/vimeo_btn_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;

        margin-top: 2%;
    } */
}

