.title {
    margin-top: 25px;
    text-align: left;
    width: 95%;
    margin-left: 5%;
    font-size: 3em;
    font-weight: 400;
}

.projectsContainer {
    list-style: none;
    padding: 0;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.catLabelContainer {
    display: inline-block;
    /* margin-bottom: 5px; */
    width: 100%;
}

.catLabelContainer a {
    color: black;
    font-family: 'Poppins';
    font-size:0.75em;
}

.catLabelContainer:hover a {
    color:rgb(28,153,138);
    /* font-weight:bold; */
}

.catLabelContainer div {
    display: flex;
}

.catLabelContainer div div {
    margin-right: 5px;
}


.project {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 0;
}
/* .project:nth-child(even) {
    float: right;
}
.project:nth-child(even) .catLabelContainer div {
    justify-content: flex-end;
}
.project:nth-child(even) .projectTitle {
    text-align: right;
} */


.projectTitle {
    text-align: left;
    font-size: 1.5em;
    color: black;
    margin-bottom: 5px;
}

.project a:hover .projectTitle {
    color:rgb(28,153,138);
}

.project a:hover .featuredImage {
    /* border: 10px solid pink; */
}

.featuredImage {
    margin-bottom: 10px;
}

@media (min-width: 400px) {
    .project {
        width: 60%;
    }
}

@media (min-width: 750px) {
    /* clear old styles */
    /* .project:nth-child(even) {
        float: none;
    }
    .project:nth-child(even) .catLabelContainer div {
        justify-content: flex-start;
    }
    .project:nth-child(even) .projectTitle {
        text-align: left;
    } */
    /* set new styles */
    .projectsContainer {
        display: grid;
        grid-template-columns: repeat(3,calc(100%/3));
        grid-template-rows: auto;
    }
    .project {
        width: calc(100% - 10px);
        display: inline-block;
        margin-bottom: 60px;
        margin-right: 10px;

    }
    .catLabelContainer {
        padding: 0 10px;
    }
    .projectTitle {
        padding: 0 10px;
    }
}

@media (min-width:1000px) {
    .projectsContainer {
        width:80%;
    } 
}