.open {
    display: block;
    padding: 10%;
    padding-top: 40%;
    padding-bottom: 10%;
    background: rgb(63,93,170);
    position: relative;
    z-index: 99999;
}

.closed {
    transform: translateX(-100%);
}

.closed li {
    display: none;
}

.open li {
    list-style: none;
    /* transform: translateX(-100%); */
    
}

.open li:nth-child(1) {
    margin-top: 25px;
}

.open li a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    display: block;
    padding: 2%;
    /* margin-left: 15%; */
}

@media (max-width: 1250px) {
    .open {
        padding-top: 20%;
    }
}

@media (max-width: 500px) {
    .open {
        padding-top: 35%;
    }
}