.header_container {
    margin-bottom: 50px;
}

.header {
    background: rgb(63,93,170);
    color: white;

    position: fixed;
    top: 0;
    z-index: 9999;

    transition: all 0.3s ease;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30% 30%;

    margin-bottom: 80px;
}

.smaller_header {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-------------------------TITLE--------------------------*/
.title_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    text-decoration: none;
    color: black;
    font-size: 1em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.smaller_title_container {
    font-size: 0.75em;
}

.site_title_text {
    color: white;
    margin-bottom: 0;
    font-weight: 800;
}

/*-------------------------NAV BAR--------------------------*/
.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    transition: all 0.3s ease;
}

.smaller_navbar {
}

.navbar li, .socialbar_text_link {
    display: inline-block;
    margin-right: 10%;
}

.navbar li a, .socialbar_text_link a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
}

.smaller_navbar li a {
    font-size: 1.25em;
}

.navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.smaller_navdropdown {
    display: inline-block;
    margin-right: 15%;
    transition: all 0.3s ease;
}

.navdropdown button {
    background: rgb(63,93,170);
    color: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.7em;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.smaller_navdropdown button {
    background: rgb(63,93,170);
    color: white;
    text-decoration: none;
    padding: 0;
    border: none;
    font-size: 1.25em;
    font-weight: 400;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}

.navdropdown button:focus {
    outline: 0;
}

.smaller_navdropdown button:focus {
    outline: 0;
}

.navdropdown div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: rgb(63,93,170);
    transition: all 0.3s ease;
}

.smaller_navdropdown div {
    padding-bottom: 10px;
    padding-right: 15px;
    background: rgb(63,93,170);
    transition: all 0.3s ease;
}

.navdropdown_item {
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    transition: all 0.3s ease;
    padding-left: 15px;
}

.smaller_navdropdown_item {
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    transition: all 0.3s ease;
    padding-left: 15px;
}

/*-------------------------SOCIAL BAR--------------------------*/
.socialbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 60%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40%;

    text-align: right;

    position: absolute;
    /* top: 25%; */

    cursor: pointer;

    transition: all 0.3s ease;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.smaller_socialbar {
    width: 40%;
    margin-left: 60%;
}

.socialbar_link {
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-block;
    text-align: center;

    z-index: 99999;
    cursor: pointer;
}

.smaller_socialbar_link {
}

.youtube {
    background-image: url("../images/youtube_btn.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_youtube {
    background-image: url("../images/youtube_btn.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.vimeo {
    background-image: url("../images/vimeo_btn.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2.5em;
    height: 2.5em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_vimeo {
    background-image: url("../images/vimeo_btn.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.instagram {
    background-image: url("../images/instagram_btn.png");
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;
    float: right;
    padding: 0;

    transition: all 0.3s ease;
}

.smaller_instagram {
    width: 1.5em;
    height: 1.5em;
}

/*-------------------------HUD--------------------------*/
.ham_btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    display: none;
}

.ham_menu_container {
    padding-top: 4em;
    position: fixed;
    z-index: 9999;
    top: 0;
    display: none;
    width: 0;
}

.smaller_ham_menu_container {
    padding-top: 2.5em;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: all 0.3s ease;
    display: none;
    width: 0;
}

.ham_instagram {
    display: none;
}
.ham_vimeo {
    display: none;
}
.ham_youtube {
    display: none;
}

@media (max-width: 1300px) {
    .navbar {
        display: none;
    }
    .smaller_navbar {
        display: none;
    }
    .smaller_socialbar_link {
        width: 2em;
    }
    .socialbar_text_link {
        display: none;
    }

    .ham_btn {
        display: inline-block;
    }
    .ham_menu_container {
        display: inline-block;
    }
    .smaller_ham_menu_container {
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    /* .socialbar {
        grid-template-columns: 50% 50%;
    }
    .smaller_socialbar {
        grid-template-columns: 50% 50%;
    } */
    .socialbar a:nth-child(2) {
        display: none;
    }
    .smaller_socialbar a:nth-child(2) {
        display: none;
    }
    /* .ham_youtube {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/youtube_btn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 5%;
        margin-bottom: 5%;
    } */
}

@media (max-width: 600px) {
    .header {
        grid-template-columns: 15% 75%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .smaller_header {
        grid-template-columns: 15% 75%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .title_container {
        justify-content: flex-end;
        margin: 0;
    }
    .smaller_title_container {
        top: 0;
        margin: 0;
    }
    .site_title_text {
        text-align: right;
    }
    /* .ham_menu_container {
        padding-top: 3em;
    } */
    .ham_instagram {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/instagram_btn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        margin-top: 7.5%;
    }
    /* .ham_vimeo {
        display: block;
        width: 2em;
        padding-bottom: 2em;
        background-image: url("../images/vimeo_btn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;

        margin-top: 2%;
    } */
}

