.container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.roof_container {
    height: 0;
    padding-bottom: 90px;
    text-align: center;
}

.roof {
    background-image: url('../images/roof.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 950px;
    padding-bottom: 120px;
    z-index: 2;
    margin: auto;
    position: relative;
    /* top: 25px; */
}

.brick {
    background-image: url('../images/brick.png');
    background-repeat: repeat;
    background-size: 150px 150px;
    width: 850px;
    margin: auto;
    display: inline-block;
    position: relative;
    padding: 1%;
    padding-top: 2%;
    height: 100%;
}

@media (max-width: 950px) {
    .roof_container {
        padding-bottom: 11%;
        width: 100%;
    }

    .roof {
        width: 100%;
        background-size: 940px;
        background-position: 50% 200%;
    }
}

@media (max-width: 900px) {
    .brick {
        width: 100%;
        padding: 0;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .roof_container {
        padding-bottom: 11%;
        width: 100%;
    }

    .roof {
        width: 100%;
        margin-left: 0;
        background-size: 110%;
        background-position: 50% 10%;
        padding-bottom: 150px;
    }
}

@media (max-width: 500px) {
    .roof_container {
        padding-bottom: 12.5%;
    }
}

/* .brick_in_scaffolding {
    background-image: url('../images/brick.png');
    background-repeat: repeat;
    background-size: 150px 150px;
    width: 225%;
    margin: 0;
    margin-left: 33%;
    display: inline-block;
    position: relative;
    padding: 2%;
    height: 100%;
    left: -260%;
}

.scaffolding {
    width: 30%;
    background-image: url("../images/scaffolding_blue_stairs.gif");
    background-size: 100%;
    background-repeat: repeat-y;
    position: relative;
    left: 101%;
} */