.container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto 35px 880px 35px auto;
    grid-template-rows: 90px 30px auto auto;

    z-index: 11;
}

.roof_container {
    text-align: center;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}


.roof {
    background-image: url('../images/roof.png');
    background-repeat: no-repeat;
    background-size: 100%;

    width: 100%;
    height: 100%;
}

.brick {
    background-image: url('../images/brick.png');
    background-repeat: repeat;
    background-size: 150px 150px;

    margin: 0;
    padding: 0;
    height: 100%;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: auto 400px auto 400px auto;
    /* grid-template-rows: 20px 400px 20px 400px 20px; */
    grid-template-rows: auto;
}

.brick li {
    margin-bottom: 20px;
}

.brick li:nth-child(1),
.brick li:nth-child(2) {
    margin-top: 20px;
}

/*----------------------------MEDIA QUERIES-----------------------------------*/

@media (max-width: 950px) {
    .container {
        grid-template-columns: auto 880px auto;
    }
    .roof_container {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .roof {
        background-size: 950px;
        background-position-x: center;
    }
    .brick {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (max-width: 880px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 90px 30px auto auto;
    }
    .roof_container {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .brick {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-template-columns: 25px 48% 25px auto 25px;
        grid-template-rows: auto;
    }
}

@media (max-width: 440px) {
    .brick {
        grid-template-columns: 20px auto 20px;
    }
}

/* .brick_in_scaffolding {
    background-image: url('../images/brick.png');
    background-repeat: repeat;
    background-size: 150px 150px;
    width: 225%;
    margin: 0;
    margin-left: 33%;
    display: inline-block;
    position: relative;
    padding: 2%;
    height: 100%;
    left: -260%;
}

.scaffolding {
    width: 30%;
    background-image: url("../images/scaffolding_blue_stairs.gif");
    background-size: 100%;
    background-repeat: repeat-y;
    position: relative;
    left: 101%;
} */