.frame {
    width: 33%;
    margin: auto;
    margin-bottom: 50px;
}

.text {
    color: black;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    line-height: 200%;

    text-align: center;
}

@media (max-width: 1000px) {
    .frame {
        margin-top: 40px;
        width: 100%;
        /* padding-left: 20px; */
        margin-bottom: 80px;
    }

    .text {
        text-align: left;
    }
}