.layout {
    background: linear-gradient( rgb(63,93,170), rgb(162,189,216) );
    z-index: -999999;
}

.designlayout {
    background: black;
    color: white;
}

.designlayout a,
.designlayout p,
.designlayout h1,
.designlayout h3 {
    color: white;
}
.designlayout a {
    text-decoration: underline;
}

.design_body_container {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin:auto;
    padding-top: calc(40px + 6em);
    min-height: 700px;
}

.design_body_container h1 {
    text-align: left;
}

.body_container {
    margin-top: calc(70px + 1em);

    display: grid;
    grid-template-columns:  auto;
    grid-template-rows:  auto auto 20px auto;
}

.clouds {
    height: 0;
}

.cloud1 {
    display: inline-block;
    width: 40%;
    position: relative;
    height: 0;
    padding-bottom: 25%;
    background-image: url('../images/clouds.png');
    background-size: 100%;
    top: 200px;
    left: 5%;
}

.cloud2 {
    display: inline-block;
    width: 40%;
    position: relative;
    height: 0;
    padding-bottom: 25%;
    background-image: url('../images/clouds.png');
    background-size: 100%;
    top: 500px;
    left: 20%;
}

@media (max-width: 750px) {
    .body_container {
        margin-top: calc(50px + 1em);
    }
}

@media (min-width: 750px) {
    .design_body_container {
        padding-top: 150px;
    }
}

@media (min-width:1000px) {
    .design_body_container h1 {
        text-align: center;
    }
}