.container {
    padding: 0;
    z-index: 3;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.billboard_title_container {
    height: 0;
}

.billboard_title {
    background-color: rgb(102,45,145);
    border: 2px solid white;
    color: white;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 4px;
    text-decoration: none;
    margin: auto;
    width: 15%;
    text-align: center;
    position: relative;
    top: -10px;
    box-shadow: 0px 7px 5px 5px rgba(0,0,0,0.5);;
}

.billboard_container {
    width: 850px;
    padding-bottom: 850px;
    height: 100%;
    margin: auto;
    background-image: url('../images/billboard.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px;
    padding-top: 50px;
    color: green;
}

.billboard_container li {
    display: inline-block;
    width: 32.5%;
    height: 100%;
    /* display: none; */
}

.billboard_container li:nth-child(1) {
    margin-left: 1%;
    -webkit-transform: perspective(1000px) rotateX(19deg) scaleY(1.07);
    -webkit-transform-origin: right center;
    position: relative;
    top: -10px;
    right: 4px;
}

.billboard_container li:nth-child(2) {
    position: relative;
    top: -4px;
    -webkit-transform: scale(1.03, 1.01);
}

.billboard_container li:nth-child(3) {
    -webkit-transform: perspective(1000px) rotateX(19deg) scaleY(1.07);
    -webkit-transform-origin: left center;
    position: relative;
    top: -10px;
    right: -4px;
}

.ad {
    width: 100%;
    height: 100%;
    color: red;
    display: inline-block;
    position: relative;
}

.ad_link_container {
    height: 0;
}

.ad_link {
    background: black;
    color: white;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    text-decoration: none;
    margin: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    position: relative;
    /* top: -50px; */
    z-index: 2;
}

.featuredImage {
    width: 100%;
}

@media (max-width: 1100px) {
    .billboard_title {
        width: 25%;
    }
}

@media (max-width: 950px) {
    .container {
        top: 10px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100%;
        top: 0;
    }
    .billboard_container {
        width: 100%;
        padding: 0;
        padding-top: 5%;
    }
    .billboard_title {
        width: 33%;
    }
}

@media (max-width: 500px) {
    .billboard_title {
        width: 50%;
    }
    .billboard_container li:nth-child(1) {
        width: 90%;
        margin-left: 5%;
    }
    .billboard_container li:nth-child(2) {
        display: none;
    }
    .billboard_container li:nth-child(3) {
        display: none;
    }
    .billboard_title {
        top: -10px;
        display: none;
    }
}