.container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    height: 100%;

    display: grid;
    grid-template-columns:  auto;
    grid-template-rows: auto;
}

.room_container a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns:  30px auto 30px;
    grid-template-rows: auto;
}

.image_container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    box-shadow: inset 0 0 10px #000000;

    height: 100%;
}

.featuredImage {
    z-index: 1; 
}

.left_brick_hole {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url("../images/brick_hole.png");
    background-repeat: repeat-y;
    background-size: 100%;

    z-index: 2; 
}

.right_brick_hole {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url("../images/brick_hole_right.png");
    background-repeat: repeat-y;
    background-size: 100%;

    z-index: 2; 
}

.room_link_container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6em auto;

    opacity: 0;

    z-index: 2;
}

.room_link_container:hover {
    opacity: 1;
}

.room_link_background {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background: rgba(0,0,0,0.9);
}

.room_link {
    color: white;
    font-size: 3em;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 880px) {
    .room_link_container {
        opacity: 0;
    }
}

@media (max-width: 750px) {
    .room_link_container {
        grid-template-rows: 5em;
    }
    .room_link {
        font-size: 2.5em;
    }
}

@media (max-width: 650px) {
    .room_link_container {
        grid-template-rows: 4em;
    }
    .room_link {
        font-size: 2em;
    }
}