
.container {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    height: 0;
}

.room_container {
    width: 100%;
    display: inline-block;
    height: 0;
}

.room_container:after {
    content: '';
    display: block;
}

.brick_hole {
    height: 0;
    z-index: 999;
    position: relative;
    /* display: none; */
}

.left_brick_hole {
    width: 10%;
    height: 0;
    padding-bottom: 96%;
    z-index: 999;
    background-image: url("../images/brick_hole.png");
    background-repeat: repeat-y;
    background-size: 100%;

}

.right_brick_hole {
    width: 10%;
    height: 0;
    padding-bottom: 96%;
    z-index: 999;
    margin-left: 91%;
    /* float: right; */
    background-image: url("../images/brick_hole_right.png");
    background-repeat: repeat-y;
    background-size: 100%;

}

.image_container {
    height: 0;
}

.featuredImage {
    z-index: 1; 
    width: 100%;
    position: relative;
}

.room_link_container {
    height: 0;
}

.room_link {
    background: black;
    color: white;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    text-decoration: none;
    margin: 0;
    width: 80%;
    text-align: center;
    z-index: 998;
    position: relative;
}

@media (max-width: 450px) {
    .container {
        width: 96%;
        margin-top: 10px;
    }
}