.container {
    width: 100%;
    margin: auto;
}

.container h1 {
    text-align: center;
    margin: auto;
}

.container p {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    
    height: auto;
    width: auto;
    
}

.container a {
    color: white;
    background: black;
    padding: 10px 20px;
    border-radius: 20px;
}

.container a:hover {
    background:rgb(28,153,138);
}

@media (min-width: 750px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .container h1 {
        text-align: left;
        margin-bottom: 100px;
    }
    .container p {
        text-align: left;
    }
    figure {
        width: 100%;
        margin: 0;
    }
}