.container {
    width: 80%;
    margin: auto;
}

.container h1 {
    text-align: center;
    margin: auto;
}

.container p {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    
    height: auto;
    width: auto;
    
}

.container a {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 750px) {
    .container {
        width: 60%;
    }
}