.tablet {
    background-image: url('../images/tablet.png');
    background-size: 100%;
    background-repeat: no-repeat;

    width: 50%;
    padding: 5% 10% 20% 0;
    margin: 0;
    margin-left: 5%;
    position: relative;
    top: -5px;
    z-index: 999;
}

@media (max-width: 750px) {
    .tablet {
        width: 94%;
        margin-left: 0;
    }

}