.open {
    position: relative;

    background: black;
    
    padding: 20px;
    padding-top: 0;
    
    border-bottom: 2px solid white;
    box-shadow: 0px 40px 40px rgb(0 0 0 / 50%);

    z-index: 9999;
    
    transition: all 0.3s ease;
    transform-origin: top center;
}

.closed {
    transform-origin: top center;
    transform: scaleY(0);
    transition: all 0.3s ease;
}


/*------------------MENU ITEM ELEMENTS---------------- */
.open div, .open li {
    list-style: none; 
    transition: opacity 0.3s ease 0.3s;
}

.closed div, .closed li {
    opacity: 0;
    transition: opacity 0s ease 0s;
}

.open a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    display: block;
    padding: 2%;
    padding-right: 4px;
}

.open a:hover {
    text-decoration: underline;
}