.btn {
    z-index: 9999999;
    display: none;
    cursor: pointer;
}

.btn svg {
    fill: white;
}

.btn_open, .btn_closed {
    background-size: 100%;
    background-repeat: no-repeat;

    width: 2em;
    height: 2em;

    float: right;

    padding: 2px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.btn_open:hover,
.btn_closed:hover {
    border-color: white;
}

@media (max-width: 1000px) {
    .btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .btn {
        margin-left: 5%;
    }
}