.open {
    padding: 10px 20px;
    padding-top: 2em;
    background: black;
    
    border-bottom: 4px solid white;
    box-shadow: 0px 40px 40px rgb(0 0 0 / 50%);
    z-index: 9999;
    transition: all 0.3s ease;
}

.closed {
    transform: translateX(110%);
}

.open li {
    list-style: none;  
}

.open li:nth-child(1) {
    margin-top: 25px;
}

.open a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    display: block;
    padding: 2%;
    padding-right: 4px;
}

.open a:hover {
    text-decoration: underline;
}