.frame {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}

.text {
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media (max-width: 1000px) {
    .frame {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 80px;
    }

    .text {
        text-align: left;
    }
}